body {
        font-family: sans-serif;
      }

h1, h2 {
          font-family: sans-serif;
          color: gray;
        }
h1 {
          border-bottom: 1px solid black;
    }
p {
          color: red;
      }
p.greentea {
            color: green;
            }
p.raspberry {
            color: blue;
            }
p.blueberry {
            color: purple;
            }
p.cranberry {
            color: red;
            }
em {
    font-family: serif;
    }